.gitignore
*.class
*.jar
.recommenders/*
setenv.sh
/.metadata/
*/.classpath
PLA_GRP80/map/.settings/*


*/.gitignore
./bin

./.project
./.settings
*/.project
*/.settings

PLA_GRP80/map/.settings/*
PLA_GRP80/bin/*

Parser/bin/*



