.gitignore
*.class
*.jar
.recommenders/*
.metadata/*
setenv.sh
/.metadata/
*/.classpath
*/.gitignore
PLA_Grp80/*
PLA_Grp80
./bin
./.project
./.settings

~$rnet de Bord.docx
~$What lurks in the shadow.pptx
~$WLITS.mvdx
